@import url("index.css");

.dictionary {
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

/* main */
.dictionary_main {
  width: 100%;
  height: var(--dictionary-height);
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
}

.dictionary_main:hover {
  background-color: var(--theme-hover-transparent);
}

.dictionary_main span {
  margin: 0px 3px;
  color: var(--theme-font-color);
  min-width: 16px;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
}

.dictionary_content {
  flex: 1;
  height: 100%;
}

.dictionary_content form,
.dictionary_content form input {
  width: 100%;
  height: 100%;
  display: flex;
}

.dictionary_content form input {
  padding: 0px 7px;
  border: none;
  outline: none;
  background-color: inherit;
  color: var(--theme-font-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* childlist */
.child_box {
  width: calc(100% - 6px);
  display: flex;
  flex-direction: column;
}

.childs_list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* createbox */
.create_box {
  width: 100%;
  display: none;
  position: relative;
  height: var(--dictionary-height);
}

.create_box span {
  margin: 0px 6px;
  color: var(--theme-font-color);
}

.create_form,
.create_form input {
  width: 100%;
  height: 100%;
  display: flex;
}

.create_form input {
  padding: 0px 5px;
  border: none;
  outline: none;
  background-color: inherit;
  color: var(--theme-font-color);
}

.error_box {
  position: absolute;
  top: var(--dictionary-height);
  left: 0;
  border: 1px solid rgb(186, 22, 22);
  width: 100%;
  z-index: 12512;
  overflow: hidden;
  display: flex;
  font-size: 12px;
  font-weight: 600;
  color: white;
  background-color: rgb(186, 22, 22);
  padding: 6px;
}

/* menu */
.dict_menu {
  position: absolute;
  right: -14px;
  overflow: hidden;
  z-index: 1231241;
  bottom: 0;
  flex-direction: column;
  border: none;
  outline: none;
  background-color: var(--theme-background-color);
  width: var(--dictionary-menu-width);
  box-shadow: 0.4px 0.4px 0.4px 0.4px var(--theme-font-color);
}

.dict_menu button {
  font-weight: 600;
  cursor: pointer;
  background-color: inherit;
  border: none;
  outline: none;
  padding: 2px 0px;
  color: var(--theme-font-color);
}

.dict_menu button:hover {
  background-color: var(--theme-hover-transparent);
}
