@import url("index.css");

.sd-folder_box {
  width: 100%;
  height: auto;
  border-bottom: 1px solid black;
  position: relative;
}

.sd-folder_li {
  width: 100%;
  border: 1px solid red;
}

.sd-folder_lists {
  width: 90%;
  border: 1px solid blue;
  float: right;
}
