@import url("index.css");

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* header */
.home_header {
  width: 100%;
  height: var(--home-header-height);
  border-bottom: 1px solid var(--theme-diff-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 8px;
}

.home_header button {
  padding: 3px;
  outline: none;
  border: none;
  background-color: var(--theme-background-color);
  color: var(--theme-font-color);
  cursor: pointer;
  font-size: 18px;
}

/* fileList */
.file_list {
  width: 100%;
  height: var(--filelist-height);
  /* border-bottom: 1px solid var(--theme-diff-color); */
  display: flex;
  align-items: center;
}

.current_file {
  width: var(--list-file-width);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 8px;
  justify-content: space-between;
  cursor: pointer;
}

.current_file span {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--theme-font-color);
}

.current_file button {
  border: none;
  outline: none;
  background-color: inherit;
  padding: 3px;
  cursor: pointer;
  color: var(--theme-font-color);
}

.current_file button:hover {
  color: red;
}
