* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* color */
  --black-transparency: rgba(0, 0, 0, 0.4);
  --light-blue: #3492eb;

  /* menu */
  --menu-width: 240px;
  --memo-menu-width: 70px;
  --memo-menu-height: 300px;

  /* search */
  --search-box-height: 100px;

  --search-input-height: 30px;

  /* dictAdd */
  --dictadd-btn-height: 40px;

  /* home header */
  --home-header-height: 30px;

  /* dictionary */
  --dictionary-height: 24px;
  --dictionary-menu-width: 120px;

  /* fileList */
  --filelist-height: 30px;

  --list-file-width: 100px;

  /* memo */
  --memo-title-height: 70px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body[data-theme="light"] {
  --theme-background-color: #fff;
  --theme-diff-color: #212121;
  --theme-font-color: #212121;
  --theme-hover-transparent: rgba(0, 0, 0, 0.1);
  --theme-opacity: rgba(0, 0, 0, 0.04);
  --theme-dict-menu-background: #fff;
  --theme-scroll-background: #beb5b5e7;
}
body[data-theme="dark"] {
  --theme-background-color: #212121;
  --theme-font-color: #fff;
  --theme-diff-color: #fff;
  --theme-hover-transparent: rgba(255, 255, 255, 0.3);
  --theme-opacity: rgba(255, 255, 255, 0.3);
  --theme-dict-menu-background: #302f2f;
  --theme-scroll-background: #f7f4f4e7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  border: 1px solid black;
}

.notfound-page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.active {
  display: flex;
}
