* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* color */
  --sd-white: #fff;
  --sd-black: #000;
  --sd-gray: rgba(181, 177, 177, 0.959);

  /* 옆 슬라이드 */
  --sd-side-width: 213px;
  --sd-side-top-height: 21%;

  /* 폴더 검색 */
  --sd-search-width: 85%;
  --sd-search-height: 37px;
  --sd-search-input-padding: 0px 12px;
  --sd-searchBtn-width: 40px;

  /* 메인 슬라이드 */
  --sd-main-top-height: 36px;
  --sd-current-memo-height: 30px;

  /* 폴더 */
  --folder-height: 26px;
  --iconbox-width: 50px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body[data-theme="light"] {
  --theme-background-color: #fff;
  --theme-diff-color: #212121;
  --theme-font-color: #212121;
  --theme-hover-transparent: rgba(0, 0, 0, 0.1);
  --theme-opacity: rgba(0, 0, 0, 0.04);
}
body[data-theme="dark"] {
  --theme-background-color: #212121;
  --theme-font-color: #fff;
  --theme-diff-color: #fff;
  --theme-hover-transparent: rgba(255, 255, 255, 0.3);
  --theme-opacity: rgba(255, 255, 255, 0.3);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sd-dict_add {
  width: 100%;
  border: 1px solid red;
  height: var(--folder-height);
}
