@import url("index.css");

/* 메모 작성 부분 */
.sd-main_container {
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}

.sd-main_top {
  width: 100%;
  height: var(--sd-main-top-height);
  border-bottom: 1px solid var(--theme-diff-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 7px;
}

.sd-main_top button {
  background-color: inherit;
  color: var(--theme-font-color);
  outline: none;
  border: none;
  border-radius: 50%;
  padding: 6px;
  font-size: 18px;
  cursor: pointer;
}

.sd-main_top button:hover {
  background-color: var(--theme-hover-transparent);
}

.sd-current_file {
  font-size: 14px;
  color: var(--theme-font-color);
}

/* file list */
.file_lists {
  width: 100%;
  height: var(--file-list-height);
  /* border-bottom: 1px solid var(--theme-diff-color); */
  display: flex;
  align-items: center;
}

.sd-file_li {
  width: 107px;
  height: 100%;
  position: relative;
  padding: 0px 7px;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  cursor: pointer;
}

.sd-file_li span {
  flex: 1;
  text-align: center;
  color: var(--theme-font-color);
}

.sd-file_li button {
  border: none;
  outline: none;
  background-color: inherit;
  padding: 2px;
  cursor: pointer;
  color: var(--theme-font-color);
  font-size: 16px;
}

.sd-file_li button:hover {
  color: red;
}

.current_active {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 1.5px solid var(--theme-diff-color);
}

/* 메모부분 */
.sd-memo_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.sd-title {
  width: 100%;
  height: 50px;
  color: var(--theme-font-color);
  font-size: 26px;
  outline: none;
  padding: 0px 14px;
  border: 1px solid red;
  outline: none;
  background-color: inherit;
}

.sd-memo {
  width: 100%;
  height: calc(100% - 50px);
  border: 1px solid blue;
  outline: none;
  padding: 8px;
  color: var(--theme-font-color);
}

.sd-memo_menu {
  position: absolute;
  right: 0;
  width: var(--memo-menu-width);
  height: var(--memo-menu-height);
  top: calc(50% - var(--memo-menu-height) / 2);
  border: 1px solid black;
  z-index: 12312;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px 0 0 20px;
}

.sd-memo_preview_img {
  width: 100px;
  height: 100px;

  border: 1px solid black;
}
