@import url("index.css");

/* 메모 작성 부분 */
.sd-main_container {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.sd-main_top {
  width: 100%;
  height: var(--sd-main-top-height);
  border-bottom: 1px solid var(--theme-diff-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 7px;
}

.sd-main_top button {
  background-color: inherit;
  color: var(--theme-font-color);
  outline: none;
  border: none;
  border-radius: 50%;
  padding: 6px;
  font-size: 18px;
  cursor: pointer;
}

.sd-main_top button:hover {
  background-color: var(--theme-hover-transparent);
}

.sd-current_file {
  font-size: 14px;
  color: var(--theme-font-color);
}

.sd-memo_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sd-title {
  width: 100%;
  height: 100px;
  color: var(--theme-font-color);
  font-size: 33px;
  border: 1px solid gold;
  outline: none;
}

.sd-memo {
  width: 100%;
  border: 1px solid red;
  height: calc(100% - 100px);
  height: 100%;
  border: none;
  outline: none;
  padding: 8px;
}
