@import url("index.css");

/* 메모 작성 부분 */
.sd-main_container {
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}

.sd-main_top {
  width: 100%;
  height: var(--sd-main-top-height);
  border-bottom: 1px solid var(--theme-diff-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 7px;
}

.sd-main_top button {
  background-color: inherit;
  color: var(--theme-font-color);
  outline: none;
  border: none;
  border-radius: 50%;
  padding: 6px;
  font-size: 18px;
  cursor: pointer;
}

.sd-main_top button:hover {
  background-color: var(--theme-hover-transparent);
}

.sd-current_file {
  font-size: 14px;
  color: var(--theme-font-color);
}

/* file list */
.file_lists {
  width: 100%;
  height: var(--file-list-height);
  border-bottom: 1px solid var(--theme-diff-color);
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.sd-file_li {
  width: 90px;
  height: 100%;
  border: 1px solid var(--theme-diff-color);
  padding: calc(100% - 98%) calc(100% - 99%);
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  cursor: pointer;
  color: var(--theme-font-color);
}

.sd-file_li span {
  flex: 1;
  text-align: center;
  color: var(--theme-font-color);
}

.sd-file_li button {
  border: none;
  outline: none;
  background-color: inherit;
  padding: 2px;
  cursor: pointer;
  color: var(--theme-font-color);
  font-size: 16px;
}

.sd-file_li button:hover {
  color: red;
}

/* 메모부분 */
.sd-memo_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid red;
}

.sd-title {
  width: 100%;
  height: 60px;
  color: var(--theme-font-color);
  font-size: 33px;
  outline: none;
  padding: 0px 14px;
  border: none;
  outline: none;
}

.sd-memo {
  width: 100%;
  border: 1px solid blue;
  height: calc(100% - 60px);
  border: none;
  outline: none;
  padding: 8px;
}
