@import url("index.css");

/* 옆 사이드 부분 */
.sd-side_container {
  width: 100%;
  max-width: var(--sd-side-width);
  height: 100vh;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid var(--theme-diff-color);
}

.sd-side_top,
.sd-folder_list_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sd-side_top {
  height: var(--sd-side-top-height);
  padding-top: 14px;
  justify-content: space-between;
}

.sd-folder_list_container {
  height: calc(100% - var(--sd-side-top-height));
}

/* 폴더검색 부분 */
.sd-f_search_container {
  width: var(--sd-search-width);
  display: flex;
  /* border:  1px solid black; */
  height: var(--sd-search-height);
  position: relative;
}

.sd-f_search_form {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid var(--theme-diff-color); /* 다크모드 적용부분 */
  border-radius: 20px;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
}

.sd-f_search_form div {
  height: 100%;
}

.sd-f_search_inputbox {
  flex: 1;
}

.sd-f_search_btnbox {
  width: var(--sd-searchBtn-width);
}

.sd-f_search_input,
.sd-f_search_btn {
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  outline: none;
  background-color: inherit;
  border: none;
}

.sd-f_search_input {
  font-size: 12px;
  padding: var(--sd-search-input-padding);
  color: var(--theme-font-color);
}

.sd-f_search_btn {
  justify-content: center;
  cursor: pointer;
  color: var(--sd-gray);
}

.sd-f_search_btn:hover {
  color: var(--theme-font-color);
}

.sd-f_search_result {
  position: absolute;
  width: 100%;
  background-color: red;
  border-radius: 5px;
  padding: 4px 0px;
  display: none;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  left: 0;
  z-index: 123124;
  top: var(--sd-search-height);
}

/* 폴더추가 */
.sd-f_add_container {
  width: 100%;
  border: 1px solid var(--theme-diff-color);
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 3px 5px;
  /* margin-top: 20px; */
}

.sd-f_add_container button {
  border: none;
  background-color: inherit;
  outline: none;
  color: var(--theme-font-color); /* 다크모드 적용부분   */
  cursor: pointer;
  border-radius: 50%;
  padding: 6px;
  font-size: 16px;
}

.sd-f_add_container button:hover {
  background-color: var(--theme-hover-transparent);
}

.sd-folder_add_box {
  width: 100%;
  height: 40px;
  background-color: inherit;
  /* border: 1px solid black; */
}

.sd-folder_add_form,
.sd-folder_add_input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: 1px solid var(--theme-diff-color);
}

.sd-current_making {
  color: var(--theme-font-color);
  margin: 0px 8px;
}

.sd-folder_add_input {
  outline: none;
  color: var(--theme-font-color);
  padding: 0px 6px;
  border: none;
}

/* 폴더추가 박스*/
.sd-dict_contianer {
  width: 100%;
  height: var(--folder-height);
}

.sd-dict_form,
.sd-dict_input {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--theme-font-color);
}

.sd-dict_form {
  padding: 0px 0px 0px 8px;
  width: 100%;
  border-bottom: 0.3px solid var(--theme-diff-color);
}

.sd-dict_input {
  flex: 0.94;
  border: none;
  outline: none;
  background-color: inherit;
}

@media (max-width: 640px) {
  .sd-side_container {
    max-width: 100%;
  }
}
